.booking-form {
 text-align: center;
 margin: 0 auto;
 width: 400px;
 margin-bottom: 50px;
 margin-top: 50px;
 border: solid;
 padding-top: 30px;
 padding-bottom: 30px;
 input {
  width: 300px;
  margin: 0 auto;
 }

}

.booking-button {
  input {
    color: white;
    font-weight: bold;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 6px;


  }

 }
