.ski-wrapper {
  margin-top:30px;
  background-color:white;
  border: solid;
  border-radius: 5px;
  border-color: white;
}
.ski-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 400px 1fr 1fr 1fr;
  grid-template-rows: 50% 25% 25%;
 img {
  grid-row: 1 / span 3;
  width: 500px;
  background-size: cover;
 }
}

.link-ski {
  background-color: white;
  grid-column: 2 / span 3;
  p {
    font-size: 15px;
  }

  .btn {
     width: 80px;
    height: 25px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-color: black;
    margin-bottom: 20px;
  }
}
