
.slider-size {
  height: 600px;
}

.carousel-caption {
// may be put some famous prhaise of the resort.

}



.resort-content {
  border-bottom: 4px solid;
   h1 {
    font-weight: bold;
    text-align: center;
  }
  p {
    text-align: center;
    font-size: 15px;
  }
}
.trail {
 margin-top: 50px;

  h4 {
    font-weight: bold;
    text-align: center;
    margin-bottom: 50px;
  }

  img {
    border-radius: 6px;
    text-align: center;
    display: block;
    margin: 0 auto;

  }
}

.botton-content {
  text-align: center;
  p {
    font-size: 15px;
  }
  h4 {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }
}

.resort-book {
  h4 {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
  }

  h5 {
     font-weight: bold;
     text-align: center;
     margin-top: 50px;
     margin-bottom: 80px;
     a {
      color: white;
      font-weight: bold;
      background-color: black;
      padding: 20px 30px;
      border-radius: 6px;
      &:hover {
         color: lightgrey;
         text-decoration: none;
      }
     }

  }
}












