
  <div class="panel-wrapper">
    <div class="panel-container">
      <div class="panels">
        <div class="panel panel1">
          <p><i class="far fa-smile"></i></p>
          <p>Let's</p>
          <p>Enjoy</p>
        </div>
        <div class="panel panel2">
          <p>Always</p>
          <p>Ski</p>
          <p>Hard</p>
        </div>
        <div class="panel panel3">
          <p>Live</p>
          <p>The</p>
          <p>Present</p>
        </div>
        <div class="panel panel4">
          <p>The</p>
          <p>World</p>
          <p>It's yours</p>
        </div>
      </div>
    </div>
  </div>

  <script>
      const panels = document.querySelectorAll('.panel');
      function toggleOpen() {
        console.log('Hello');
        this.classList.toggle('open');
      }
      function toggleActive(e) {
        console.log(e.propertyName);
        if (e.propertyName.includes('flex')) {
          this.classList.toggle('open-active');
        }
      }
      panels.forEach(panel => panel.addEventListener('click', toggleOpen));
      panels.forEach(panel => panel.addEventListener('transitionend', toggleActive));
    </script>

<div class="container">
 <img src="https://cdn2.cnet.com/img/Exato02iqY_YB9FKyKtWnkB-Jvw=/2013/12/13/be10d54f-67d7-11e3-a665-14feb5ca9861/maps-main.png" alt="">


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" >
    <div class="item active">
      <img src="https://image.isu.pub/161214121922-c532e4caff799dd4fbbb547a66159d94/jpg/page_1.jpg" alt="..."> <br> <br>
      <div class="carousel-caption">
       ...
      </div>
    </div>
    <div class="item">
      <img src="http://www.blind2shop.com/wp-content/uploads/2015/10/005-epictv-from-armada-skis-website2.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="https://i.ytimg.com/vi/YEevr8lqIzY/maxresdefault.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    <div class="item">
      <img src="https://i.vimeocdn.com/video/722208606_1280x720.jpg" alt="...">
      <div class="carousel-caption">
        ...
      </div>
    </div>
    ...
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
